<div>
  <full-calendar id="calendar"></full-calendar>
</div>


<ng-template #create let-data id="create_appointment">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="data.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <mat-toolbar *ngIf="errorMessage" color="warn">{{ errorMessage }}</mat-toolbar>
  <form [formGroup]="appointmentForm" (ngSubmit)="createAppointment(appointmentForm.value)">
    <table cellpadding="15px" class="custom-event-editor">
      <tbody>
      <tr>
        <td class="e-textlabel">Patient</td>
        <td colspan="4">
          <select [ngModel]="selectedUserId" (ngModelChange)="selectDropdown($event)" class="dropdown" id="title" formControlName="title">
            <option >kies hier</option>
            <option *ngFor="let patient of patients; let i = index" [ngValue]="patient.user_id" [value]="patient.user_id" >{{patient.firstname + " " + patient.lastname }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="e-textlabel">Locatie</td>
        <td colspan="4">
          <input class="e-field e-input" type="text" formControlName="location"
                 id="location" name="Location"
                 style="width: 100%"/>
        </td>
      </tr>
      <tr>
        <td class="e-textlabel">Starttijd</td>
        <td colspan="4" class="ml-4">
          <input id="start" class="e-field" type="datetime-local" formControlName="start"
                 name="StartTime"/>
        </td>
      </tr>
      <tr>
        <td class="e-textlabel">Eindtijd</td>
        <td colspan="4">
          <input id="end" class="e-field" type="datetime-local" formControlName="end"
                 name="EndTime"/>
        </td>
      </tr>
      <tr>
        <td class="e-textlabel">Is vervolg afspraak</td>
        <td colspan="4">
          <input class=" e-field" type="checkbox" name="isFollowUpAppointment"
                 id="is_followup" title="isFollowUpAppointment" formControlName="is_followup">
        </td>
      </tr>
      <tr>
        <td class="e-textlabel">Is digitaal</td>
        <td colspan="4">
          <input class=" e-field" type="checkbox" formControlName="is_digital"
                 name="isDigital" id="is_digital"
                 title="isDigital">
        </td>
      </tr>
      <tr>
        <td class="e-textlabel">Beschrijving</td>
        <td colspan="4">
        <textarea id="description" class="e-field e-input" formControlName="description"
                  name="Description" rows="3"
                  cols="50" style="width: 100%; height: 60px !important; resize: vertical"></textarea>
        </td>
      </tr>
      <tr>
        <div class="modal-footer" style="border: none">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" (click)="cancelUpdate()" class="btn btn-primary">Cancel</button>
        </div>
      </tr>
      </tbody>
    </table>
  </form>
</ng-template>


<ng-template style="height: 70%" #content let-data>
  <mat-toolbar *ngIf="errorMessage" color="warn">{{ errorMessage }}</mat-toolbar>
  <table cellpadding="15px" class="custom-event-editor">
    <tbody>
    <tr>
      <td class="e-textlabel">Patient</td>
      <td colspan="4">
        <select [(ngModel)]="title" class="dropdown">
          <option *ngFor="let patient of patients; let i = index"
                  class="patient">{{patient.firstname + " " +  patient.lastname}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="e-textlabel">Locatie</td>
      <td colspan="4">
        <input [(ngModel)]="location" class="e-field e-input" type="text" id="EventType" name="Location"
               style="width: 100%"/>
      </td>
    </tr>
    <tr>
      <td class="e-textlabel">Starttijd</td>
      <td colspan="4" class="ml-4">
        <input [(ngModel)]="start_time" id="StartTime" class="e-field" type="datetime-local" name="StartTime"/>
      </td>
    </tr>
    <tr>
      <td class="e-textlabel">Eindtijd</td>
      <td colspan="4">
        <input [(ngModel)]="end_time" id="EndTime" class="e-field" type="datetime-local" name="EndTime"/>
      </td>
    </tr>
    <tr>
      <td class="e-textlabel">Is vervolg afspraak</td>
      <td colspan="4">
        <input [(ngModel)]="is_follow_up" class=" e-field" type="checkbox" name="isFollowUpAppointment"
               id="isFollowUpAppointment" title="isFollowUpAppointment">
      </td>
    </tr>
    <tr>
      <td class="e-textlabel">Is digitaal</td>
      <td colspan="4">
        <input [(ngModel)]="is_digital" class=" e-field" type="checkbox" name="isDigital" id="isDigital"
               title="isDigital">
      </td>
    </tr>
    <tr>
      <td class="e-textlabel">Beschrijving</td>
      <td colspan="4">
        <textarea [(ngModel)]="description" id="Description1" class="e-field e-input" name="Description" rows="3"
                  cols="50" style="width: 100%; height: 60px !important; resize: vertical"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" (click)="updateAppoitment()" class="btn btn-primary">Update</button>
      </td>
      <td>
        <button type="button" (click)="deleteAppointment()" class="btn btn-primary">Delete</button>
      </td>

      <td>
        <button type="button" (click)="cancelUpdate()" class="btn btn-primary">Cancel</button>
      </td>
    </tr>
    </tbody>
  </table>
</ng-template>

