<div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
            <h1> Aankomende afspraken: </h1>
        </div>

        <!-- show card if data exist -->

      <ng-container *ngIf="loadedAppointments != null; else elseText">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center"
          *ngFor="let appointment of loadedAppointments">
            <div class="card">
              <div class="card-body">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Datum afspraak</th>
                    <th scope="col">Beschrijving</th>
                    <th scope="col">Locatie</th>
                    <th scope="col">Huisarts</th>
                    <th scope="col">Afspraak annuleren</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">{{appointment.start_time | date:'d MMM y, h:mm a'}}</th>
                    <td>{{appointment.description}}</td>
                    <td>{{appointment.location}}</td>
                    <td>{{fullName}}</td>
                    <td><button class="btn btn-danger"
                    (click)="clickedAppointment(appointment.appointment_code)">ANNULEER</button></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

      </ng-container>

        <!-- When no appointment has been found -->
        <ng-template #elseText>
            <h5>U heeft geen aankomende afspraken</h5>
        </ng-template>

    </div>

