<div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
            <h1> Aankomende afspraken: </h1>
        </div>

        <!-- show card if data exist -->

      <ng-container *ngIf="loadedAppointments != null; else elseText">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center"
          *ngFor="let appointment of loadedAppointments">
            <div class="card">
              <div class="card-body">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Datum afspraak</th>
                    <th scope="col">Beschrijving</th>
                    <th scope="col">Locatie</th>
                    <th scope="col">Huisarts</th>
                    <th scope="col">Afspraak annuleren</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">{{appointment.start_time | date:'d MMM y, h:mm a'}}</th>
                    <td>{{appointment.description}}</td>
                    <td>{{appointment.location}}</td>
                    <td>{{fullName}}</td>
                    <td><button class="btn btn-danger"
                    (click)="clickedAppointment(appointment.appointment_code)">ANNULEER</button></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

      </ng-container>

<!--        <ng-container *ngIf="loadedAppointments != null; else elseText">-->
<!--            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"-->
<!--                 *ngFor="let appointment of loadedAppointments; let rowIndex=index">-->
<!--                <div class="tile">-->
<!--                    <div class="wrapper">-->
<!--                        <div class="header">Afspraak: {{rowIndex + 1}}</div>-->

<!--                        <div class="banner-img">-->
<!--                            <img src="https://images.unsplash.com/photo-1522241112606-b5d35a468795?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOj-->
<!--              EyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image 1">-->
<!--                        </div>-->

<!--                        <div class="dates">-->
<!--                            <div class="start">-->
<!--                                <strong>BeginTijd </strong> {{arrayDatesStartTime[rowIndex]}}-->
<!--                                <span></span>-->
<!--                            </div>-->
<!--                            <div class="ends">-->
<!--                                <strong>EindTijd </strong> {{arrayDatesEndTime[rowIndex]}}-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="stats">-->

<!--                            <div class="stats">-->
<!--                                <div>-->
<!--                                    <strong>Uw afspraak code is:</strong> {{appointment.appointment_code}}-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="stats">-->
<!--                                <div>-->
<!--                                    <strong>Uw dokter is: </strong> {{fullName}}-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div>-->
<!--                                <strong>Beschrijving van uw afspraak:</strong> {{appointment.description}}-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="stats">-->
<!--                            <div>-->
<!--                                <strong>Is het digitaal:</strong> {{(appointment.is_digital ? "Ja" : "Nee")}}-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="stats">-->
<!--                            <div>-->
<!--                                <strong>waar bevind de afspraak?</strong> {{appointment.location}}-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="stats">-->
<!--                            <div>-->
<!--                                <strong>Nieuwe afspraak?</strong> {{(appointment.is_follow_up ? "Ja" : "Nee")}}-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="footer">-->
<!--                            <div class="cancelAppointment">Klik hier om uw afspraak te annuleren:</div>-->
<!--                            <button class="Cbtn Cbtn-danger" (click)="clickedAppointment-->
<!--                    (appointment.appointment_code)">annuleer-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </ng-container>-->

        <!-- When no appointment has been found -->
        <ng-template #elseText>
            <h5>U heeft geen aankomende afspraken</h5>
        </ng-template>

    </div>

