<!-- Image and text -->
<nav class="navbar navbar-light" style="background-color: #57BA94; line-height: 3.5">
  <a class="navbar-brand" href="#" style="color: white; letter-spacing: 5px;">
    <img src="/assets/images/zonneveltLogo.png" width="50" height="50" class="d-inline-block" alt="">
    ZONNEVELT
  </a>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" href="/#personalView" style="color: white;">MIJN GEGEVENS</a>
    </li>
    <li class="nav-item">
      <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" role="button" (click)="loginService.logOut()" href="#" style="color: white;">LOG UIT</a>
    </li>
  </ul>
</nav>

