<div class="row justify-content-center space">
  <div class="col-sm-4 m-3">
    <h2 class="mb-3">Inloggen</h2>

    <!-- Login form -->
    <form class="login-form">
      <div class="form-group">
        <label for="inputUsername">Gebruikersnaam</label>
        <input type="text" name="username" class="form-control" id="inputUsername"
               placeholder="gebruikersnaam">
      </div>
      <div class="form-group">
        <label for="inputPassword">Wachtwoord</label>
        <input type="password" name="password" class="form-control" id="inputPassword"
               placeholder="wachtwoord">
      </div>
      <div class="error mb-3 text-danger"></div>

      <button routerLink="/appointment" type="submit" class="btn btn-primary btn-block">Login</button>
    </form>

    <!-- Login as different user -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Log in als huisarts</a>
    </div>
  </div>
</div>
