<div class="container">
  <div class="main-body">
    <div class="col-md-8">
      <h1>Mijn gegevens</h1>

      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Naam</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{loadedPatient.firstname + " " + loadedPatient.lastname}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Geboortedatum</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{loadedPatient.dateOfBirth}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Geslacht</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{loadedPatient.gender}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Telefoon nummer</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{loadedPatient.phonenumber}}
            </div>
          </div>
<!--          <hr>-->
<!--          <div class="row">-->
<!--            <div class="col-sm-3">-->
<!--              <h6 class="mb-0">Adres</h6>-->
<!--            </div>-->
<!--            <div class="col-sm-9 text-secondary">-->
<!--              {{loadedPatient.address}}-->
<!--            </div>-->
<!--          </div>-->
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{loadedPatient.email}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Wachtwoord</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              *******
            </div>
          </div>
        </div>
      </div>
    </div>
    <button mat-raised-button color="primary" class="mr-1">Gegevens aanpassen</button>
    <button mat-raised-button color="primary" class="mr-1">Medisch Dossier</button>
    <button mat-raised-button color="primary">Andere huisarts aanvragen</button>

  </div>
</div>
