<div class="container">
  <div class="main-body">
    <div class="col-md-8">
      <h1>Mijn gegevens</h1>

      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Naam</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              [naam]
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Geboortedatum</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              [geb-datum]
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Geslacht</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              [geslacht]
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Telefoon nummer</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              [telnummer]
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Adres</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              [adres]
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              [email]
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Wachtwoord</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              [wachtwoord]
            </div>
          </div>
        </div>
      </div>
    </div>

    <button>Gegevens aanpassen</button>
    <button>Medisch dossier bekijken</button>
    <button>Aanvraag andere huissarts</button>

  </div>
</div>
