<div class="row justify-content-center m-0 pt-5">
  <div class="jumbotron w-25 text-center ">

    <!-- show card if data exist -->
    <ng-container *ngIf="loadedAppointments != null; else elseText">
      <div class="card" *ngFor="let appointment of loadedAppointments " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Appointments: </h5>
          <p class="card-text">{{appointment.appointment_code}}</p>
          <p class="card-text">Begin Tijd: {{appointment.start_time}} - Eind tijd: {{appointment.end_time}} </p>
          <p class="card-text">{{appointment.is_digital}}</p>
          <p class="card-text">{{appointment.description}}</p>
          <!--          <button type="button" ngbAutofocus class="btn btn-danger"-->
          <!--                  (click)="modal.close('Ok click')">Ok-->
          <!--          </button>-->
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            cancel
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure to cancel your appointment?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)="clickedAppointment
                  (appointment.appointment_code)">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- When no appointment has found -->
    <ng-template #elseText>
      <h5>There is no appointment</h5>
    </ng-template>

  </div>
</div>
