<div class="container">
  <div class="main-body">
    <div class="col-md-8">
      <h1>Mijn gegevens</h1>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Naam</h6>
            </div>
            <div id="firstnamePersonalInformation" class="col-sm-9 text-secondary">
              {{this.firstname}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Geboortedatum</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{this.dateOfBirth}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Geslacht</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{this.gender}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Telefoon nummer</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{this.phonenumber}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{this.email}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Wachtwoord</h6>
            </div>
            <div id="viewPw" class="col-sm-9 text-secondary" type="password">
              *********
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="showMsg">
      <h2 class="alert alert-succes">
        <strong>Gegevens succesvol opgeslagen</strong>
      </h2>
    </div>

    <button type="button" class="btn btn-primary" (click)="open(content)">Gegevens aanpassen</button>

    <button *ngIf="userRole == 'patient'" mat-raised-button color="primary" routerLink="/medical-file" class="mr-1">
      Medisch Dossier
    </button>
    <button *ngIf="userRole == 'patient'" mat-raised-button color="primary" routerLink="/requestGP">Andere huisarts
      aanvragen
    </button>

  </div>
</div>

<!--modal for editing / updating gegevens-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Klik hier om uw gegevens te wijzigen</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label>Telefoonnummer:</label>
        <div class="input-group">
          <input formControlName="phoneNumber" [(ngModel)]="phonenumber" name="phonenumber" class="form-control"
                 placeholder="vul uw telefoonnummer in" name="pn" id="phoneNumber" (keypress)="numberOnly($event)">
        </div>
      </div>
      <div class="form-group">
        <label>Email:</label>
        <div class="input-group">
          <input formControlName="email" [(ngModel)]="email" name="email" class="form-control"
                 placeholder="vul uw email in" id="email" name="em">
        </div>
        <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
          <small *ngIf="f.email.errors?.required">Een email is verplicht</small>
          <small *ngIf="f.email.errors?.pattern">Voer een geldig email in</small>
        </div>
      </div>
      <div class="form-group">
        <label>Wachtwoord:</label>
        <div class="input-group">
          <input type="password" formControlName="firstPassword" (change)="onInputChange($event,true)"
                 [(ngModel)]="passwordInitialize"
                 name="firstPassword"
                 class="form-control"
                 id="defaultPassword"
                 placeholder="vul uw huidige wachtwoord in"
                 name="pw">
        </div>
        <div *ngIf="f.firstPassword.touched">
          <div *ngIf="this.loadedUser.password != this.passwordInitialize" class="alert alert-danger">
            <div>Vul uw huidige wachtwoord in</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Vul uw nieuwe wachtwoord in</label>
        <input
          formControlName="password"
          id="password"
          type="password"
          class="form-control defaultPw"
          [attr.disabled]="pwCheck()">
        <div *ngIf="this.loadedUser.password == this.passwordInitialize">
          <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
            <div *ngIf="f.password.errors.required">Wachtwoord is verplicht</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirm_password">Bevestig uw nieuwe wachtwoord</label>
        <input
          formControlName="confirm_password"
          id="confirm_password"
          type="password"
          class="form-control defaultPw"
          [attr.disabled]="pwCheck()"
          (change)="onInputChange($event,false)">
        <div *ngIf="this.loadedUser.password == this.passwordInitialize">
          <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
            <div *ngIf="f.confirm_password.errors.required">U moet uw wachtwoord invoeren</div>
            <div *ngIf="f.confirm_password.errors.confirmedValidator">Wachtwoord en bevestiging wachtwoord komen niet
              overeen met elkaar
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button id="myPersonal" type="button" class="btn btn-outline-dark myPersonal" [disabled]="!form.valid"
            (click)="updateUser()"
            (click)="dismiss()">Opslaan
    </button>
  </div>
</ng-template>



