<div class="calender  float-left">
  <ejs-schedule [eventSettings]="eventSettings" (popupOpen)="onPopupOpen($event)" [views]="scheduleViews"   height="500" width="800">
  <ng-template style="height: 70%" #editorTemplate let-data>
    <table class="custom-event-editor">
      <tbody>
      <tr>
        <td class="e-textlabel">Patient</td>
        <td colspan="4">
          <input  class="e-field e-input" type="text" value="" name="patient_user_id" id="patient" style="width: 100%" />
        </td>
      </tr>
      <tr>
        <td class="e-textlabel">Locatie</td>
        <td colspan="4">
          <input class="e-field e-input" type="text" id="location" name="location" style="width: 100%" />
        </td>
      </tr>
      <tr>
        <td class="e-textlabel">Starttijd</td>
        <td colspan="4">
          <input id="startTime" class="e-field" type="text" name="start_time" />
        </td>
      </tr>

      <tr>
        <td class="e-textlabel">Eindtijd</td>
        <td colspan="4">
          <input id="endTime" class="e-field" type="text" name="end_time" />
        </td>
      </tr>
      <tr>
<!--        <td colspan="4">-->
<!--          <label for="isFollowUpAppointment">-->
<!--            <input class=" e-field" type="checkbox" name="isFollowUpAppointment" value="" id="isFollowUpAppointment" title="isFollowUpAppointment">-->
<!--          </label>-->
<!--        </td>-->
      </tr>
      <tr>
        <td class="e-textlabel">Beschrijving</td>
        <td colspan="4">
          <textarea id="description" class="e-field e-input" name="description" rows="3" cols="50" style="width: 100%; height: 60px !important; resize: vertical"></textarea>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-template>
  </ejs-schedule>
</div>
